* {
    --primary-colour: #dd0;
    --primary-highlight-colour: #ee1;
    --secondary-bg-colour: #240952;
    --secondary-fg-colour: #fff;
    --secondary-highlight-colour: #442972;
    --control-colour: #eee;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    gap: 1rem;
}

header {
    background-color: var(--secondary-bg-colour);
    color: var(--secondary-fg-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem */
}

footer {
    background-color: #ccc;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

nav a {
    color: var(--secondary-fg-colour);
    text-decoration-line: none;
    padding: 1rem;
}

.card {
    background-color: var(--control-colour);
    border-radius: 0.5em;
    padding: 0.5rem;
}

.card-view {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.content {
    padding: 0.5rem;
}

.card h2 {
    margin: 0;
}

.card p:first-of-type {
    margin-top: 0.2rem;
}

nav a:hover {
    background-color: var(--secondary-highlight-colour);
}