@import url(light.css);
@import url(dark.css);
@import url(fonts/Cabin.css);

* {
    --btn-border-radius: 5rem;
}

html {
    background-color: var(--md-sys-color-background);
    font-family: "Cabin", sans-serif;
}

body {
    color: var(--md-sys-color-on-surface);
    margin: 0;
}

a {
    text-decoration-thickness: 0.05rem;
}

nav {
    color: var(--md-sys-color-on-primary);
    display: flex;
    gap: 1rem;
}

header {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem */
}

footer {
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);
    text-align: center;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-bottom: 5rem;
}

nav a {
    background-color: var(--md-sys-color-surface);
    border-style: solid;
    border-color: var(--md-sys-color-inverse-primary);
    border-width: 0.2rem;
    border-radius: var(--btn-border-radius);
    color: var(--md-sys-color-on-surface);
    text-decoration-line: none;
    padding: 0.75rem;
    margin: 0.25rem;
}

.action-btn {
    background-color: var(--md-sys-color-secondary);
    border-radius: var(--btn-border-radius);
    color: var(--md-sys-color-on-secondary);
    padding: 0.5rem;
    text-decoration: none;
}

.card {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 0.5em;
    color: var(--md-sys-color-on-surface);
    padding: 0.5rem;
    box-shadow: 0rem 0rem 0.4rem var(--md-sys-color-shadow);
}

.card-centered {
    text-align: center;
}

.card-view {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.card-view-horizontal {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.link-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.logo-container {
    content: url(../img/logo_alt_2.svg);
    max-height: 50px;
}

@media (prefers-color-scheme: dark) {
    .logo-container {
        content: url(../img/logo_alt_3.svg);
    }
}

.section-sub {
    color: var(--md-sys-color-on-surface-variant);
    font-size: small;
}

a:link {
    color: var(--md-sys-color-secondary)
}

a.action-btn {
    color: var(--md-sys-color-on-secondary);
}

.card h2 {
    margin: 0;
}

.content section {
    padding: 0.5rem;
}

.numeric-unit-value span {
    font-size: 2rem;
}

nav a:hover {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

nav a:active {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}

.card ul li {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.card-view-horizontal .card {
    flex-grow: 1;
    padding: 1rem;
}

.card-view-horizontal h3:first-of-type {
    margin-bottom: 0;
    width: 100%;
}

.card p:first-of-type {
    margin-top: 0.2rem;
}