@import url(light.css);
@import url(dark.css);
@import url(fonts/Cabin.css);

* {
    --btn-border-radius: 5rem;
}

html {
    background-color: var(--md-sys-color-background);
    font-family: "Cabin", sans-serif;
}

body {
    color: var(--md-sys-color-on-surface);
    margin: 0;
}

a {
    text-decoration-thickness: 0.05rem;
}

nav {
    color: var(--md-sys-color-on-primary);
    display: flex;
    gap: 1rem;
}

form {
    padding: 1rem;
}

header {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* padding: 0.5rem */
}

footer {
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);
    text-align: center;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-bottom: 5rem;
}

nav a {
    background-color: var(--md-sys-color-primary-container);
    /*border-style: solid;
    border-color: var(--md-sys-color-inverse-primary);
    border-width: 0.2rem;
    border-radius: var(--btn-border-radius);*/
    border-radius: 100%;
    color: var(--md-sys-color-on-primary-container);
    text-decoration-line: none;
    display: flex;
    padding: 1rem;
    margin: 0.25rem;
}

form section {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    border: none;
    border-bottom: solid 0.01rem var(--md-sys-color-on-surface-variant);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form label {
    font-size: 0.75rem;
    margin: 0;
    margin-bottom: 0.25rem;
}

form input {
    margin: 0;
    padding: 0;
    background: none;
    color: var(--md-sys-color-on-surface);
    border: none;

    font-size:medium;
}

.action-btn {
    background-color: var(--md-sys-color-secondary);
    border-radius: var(--btn-border-radius);
    color: var(--md-sys-color-on-secondary);
    padding: 0.5rem;
    text-decoration: none;
}

.card {
    border: solid 0.1rem var(--md-sys-color-outline-variant);
    background-color: var(--md-sys-color-surface-container);
    border-radius: 12px;
    color: var(--md-sys-color-on-surface);
    padding: 0.5rem;
    /*box-shadow: 0rem 0rem 0.4rem var(--md-sys-color-shadow);*/
}

.card-centered {
    text-align: center;
}

.card-view {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.card-view-horizontal {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.link-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.logo-container {
    position: absolute;
    left: 50%;
    translate: -50%;
}

.logo {
    content: url(../img/logo.svg);
    max-height: 50px;
}

.profile {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0,5rem;
}

.profile.start {
    justify-content: start;
}

.profile.center {
    justify-content: center;
}

.section-sub {
    color: var(--md-sys-color-on-surface-variant);
    font-size: small;
}

a:link {
    color: var(--md-sys-color-secondary)
}

a.action-btn {
    color: var(--md-sys-color-on-secondary);
}

.card h2 {
    margin: 0;
}

.navigation-actions .action-text {
    text-decoration: none;
    color: var(--md-sys-color-primary);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 60%;
}

.content section .card, .content section .section {
    margin: 0.5rem;
}

.profile h2, .profile p {
    margin: 0;
}

.profile img {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--md-sys-color-primary-container);
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.profile.start::after {
    margin-top: 1.3rem;
    background-color: var(--md-sys-color-outline-variant);
    height: 0.1rem;
    width: 100%;
    content: "";
}

.numeric-unit-value span {
    font-size: 2rem;
}

nav a:hover {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

nav a:active {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}

.card ul li {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.card-view-horizontal .card {
    flex-grow: 1;
    padding: 1rem;
}

.card-view-horizontal h3:first-of-type {
    margin-bottom: 0;
    width: 100%;
}

.card p:first-of-type {
    margin-top: 0.2rem;
}

.plot {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    margin: -0.5rem;
    margin-top: 0.5rem;
}

.plot * {
    width: 2rem;
    background-color: var(--md-sys-color-primary);
}

.card-header {
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-header h2 {
    margin: 0;
}
.card-header p {
    margin-top: 0.2rem;
}

.card .card-inner-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-inner-header * {
    margin: 0;
}

.card-inner-header span {
    font-size: 2.25rem;
}

.card-outline {
    border-radius: 12px;
    border: solid 0.1rem var(--md-sys-color-outline-variant);
    text-align: center;
    padding: 0.5rem;
}

.menu-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.menu-list a {
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.menu-list a:hover {
    background-color: var(--md-sys-color-surface-container);
}

.menu-list a:active {
    filter: brightness(150%);
}

.hidden {
    visibility: hidden;
}

.navigation-title, .navigation-actions {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1rem;
}

.navigation-title span, .navigation-actions span {
    padding: 1rem;
    color: var(--md-sys-color-on-surface);
    border-radius: 100%;
}

.navigation-title h3 {
    margin: 0;
}

.navigation-title span:hover, .navigation-actions span:hover, .action-text:hover {
    background-color: var(--md-sys-color-surface-variant);
}

.navigation-title span:active, .navigation-actions span:active, .action-text:active {
    background-color: var(--md-sys-color-surface);
}