@import url(light.css);
@import url(dark.css);
@import url(fonts/Cabin.css);

html {
    background-color: var(--md-sys-color-background);
    font-family: "Cabin", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration-thickness: 0.05rem;
}

nav {
    color: var(--md-sys-color-on-primary);
    display: flex;
    gap: 1rem;
}

header {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem */
}

footer {
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);
    text-align: center;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

nav a {
    background-color: var(--md-sys-color-surface);
    border-style: solid;
    border-color: var(--md-sys-color-inverse-primary);
    border-width: 0.1rem;
    border-radius: 5rem;
    color: var(--md-sys-color-on-surface);
    text-decoration-line: none;
    padding: 0.75rem;
    margin: 0.25rem;
}

.card {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 0.5em;
    color: var(--md-sys-color-on-surface);
    padding: 0.5rem;
}

.card-view {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.content {
    padding: 0.5rem;
}

.link-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.section-sub {
    color: var(--md-sys-color-on-surface-variant);
    font-size: small;
}

a:link {
    color: var(--md-sys-color-secondary)
}

.card h2 {
    margin: 0;
}

nav a:link {
    color: var(--md-sys-color-on-surface);
}

nav a:hover {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

nav a:active {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}

.card ul li {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.card p:first-of-type {
    margin-top: 0.2rem;
}